/*by-our-product*/

.product-section {
  max-width: 1600px;
  padding: 200px 15px;
  text-align: center;
  color: var(--white-color);
  display: block;
  margin-bottom: 40px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.product-link {
  background-color: var(--hover-allblue);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*stydio-skills*/

.skills-item {
  padding-top: 94px;
}

.skills-container {
  display: flex;
  width: 1200px;
  text-align: left;

  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.skiills-colon {
  text-align: left;
}

.skills-position {
  display: flex;
}

.skills-position li:not(:first-child) {
  margin-left: 30px;
}

.skills-title {
  display: inline-block;
  margin-top: 30px;

  color: var(--teg-h-navigation);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.skills-text {
  display: inline-block;

  color: var(--text-color);
  font-size: 14px;
  line-height: 24px;
}

.skiills-colon {
  height: 120px;
}

.icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;

  background-color: var(--ourteam-background);
  border-radius: 4px;
}

/* work-section*/

.work-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-container {
  width: 1200px;

  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.work-title {
  text-align: center;
  margin-bottom: 50px;

  color: var(--teg-h-navigation);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.work-image {
  display: flex;
}

.work-image li:not(:first-child) {
  margin-left: 20px;
}

/*our-team*/

.team {
  background-color: var(--ourteam-background);
  padding-top: 95px;
  padding-bottom: 95px;
}

.team-container {
  width: 1200px;

  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.team-title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: var(--teg-h-navigation);
}

.team-foto {
  display: flex;
  flex-wrap: nowrap;
}

.team-foto:not(:first-child) {
  margin-left: 30px;
}

.team-card {
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.personal-foto {
  margin-bottom: 30px;
}

.team-names {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--teg-h-navigation);
}

.team-professions {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 19px;
}

.team-social {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

.team-card:not(:first-child) {
  margin-left: 30px;
}

.social-link:not(:first-child) {
  margin-left: 10px;
}

.social-links:hover,
.icon-social:hover,
.social-links:focus,
.icon-social:focus {
  fill: var(--white-color);
  background-color: var(--hover-allblue);
}

.icon-social {
  fill: currentColor;
}

.social-links {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--svg-color);
}

.icon-social {
  margin: auto;
  fill: var(--svg-color);
}

/* our-clients */

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: var(--teg-h-navigation);
}

.clients-companies {
  display: flex;
  /* color: var(--svg-color); */
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  fill: var(--svg-color);

  border: 1px solid var(--svg-color);
  border-radius: 4px;
}

.clients-companies :not(:first-child) {
  margin-left: 30px;
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--hover-allblue);
  border: 1px solid var(--hover-allblue);
}

/* .icon-contact {
  fill: currentColor;
} */
