.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portpholio-container {
  width: 1200px;

  padding: 0px 15px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.projects-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portpholio-buttom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
}

.portpholio-buttom li:not(:first-child) {
  margin-left: 10px;
}

.button-item {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--teg-h-navigation);
  background-color: var(--ourteam-background);
  border: none;
}

.button-item:hover,
.button-item:focus {
  color: var(--white-color);
  background-color: var(--hover-allblue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-tumb {
  height: 404px;
}

.project-tumb:hover,
.project-tumb:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: var(--teg-h-navigation);
}

.projects-list {
  font-size: 16px;
  line-height: 30px;
}
